/*componente root*/
.root{
    /*Apariencia, confugaciones básicas*/
    max-width: 40rem;
    height: 100vh; /*"vh" es para que se expanda en el 100% de la pantalla seg{un lo que indiquemos*/

    
    
    /*Posición de hijos*/
    margin:auto;
    padding: 1rem;
    padding-top: 2rem; /*Se separa de arriba*/

    /*comportamiento*/
}
.root > h1{  /*">" indicar +, como para que también lo use, estar{ia usando solo los nietos*/
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-texto);
}
.bt-todo{
    border: 0;
    background-color: rgb(11, 255, 11);
    width: 6rem;
    height: 6rem;
    border-radius: 100%;

    

    position: absolute;
    right: 3rem;
    bottom: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

}
.bt-todo > span{
    font-size: 8rem;
    font-weight: 600;
    color: #fff;
}
/*DISEÑO DEL MODAL*/
.modal{
    width: 35rem;
    height: 25rem;
    background-color: rgb(209, 96, 209);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
   display: none; /*para que algo exista pero no se vea*/
}
.Activar{
    display: block;
}

.btn-tarea{
    margin: 5rem 0 0 13rem;
}
.entrada{
    height: 10rem;
    width: 25rem;
    margin: 5rem 5rem 0rem 5rem;
}
.cerrar{
    width: 4rem;
    height: 4rem;
   
}